<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>About Us</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
      
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index" accesskey="1">OSC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="about" accesskey="2">About Us</a></li>
              <li><a href="racing" accesskey="3">Racing Team</a></li>
              <li><a href="faq" accesskey="4">FAQ</a></li>
              <li><a href="contact" accesskey="5">Contact Us</a></li>
              <li><a href="access" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="sessions" accesskey="8">Club Sessions</a></li>
                  <li><a href="social" accesskey="9">Social Activities</a></li>
                  <li><a href="holidays" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="index" class="btn">Sign In</a>
            </form>
    </div>
    </div>
    </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <div class="container">
    <div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
      <div class="active item">
      <img src="assets/img/headerImage5.jpg" title="Club Holiday 2010">
      <div class="carousel-caption">
        <h4>Club Holiday 2010</h4>
        <p>A great view during the 2010 club holiday</p>
      </div>
      </div>
      <div class="item">
      <img src="assets/img/headerImage6.jpg" title="Club Holiday 2011">
      <div class="carousel-caption">
        <h4>Club Holiday 2011</h4>
        <p>A fantastic photo from 2011</p>
        </center>
      </div>
      </div>
      </div>
      </div>
      </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Club Holiday 2012-13</h2>

        Oval Ski Club organise a holiday to one of the popular skiing resorts in Europe every year. The holiday is usually arranged over the Easter break making it available for all club members to come along. The group size varies each year and this is based on flight availability and what the demand levels  are expected to be. This can be anything from 50 - 100 people.<br>
        <br>

        <p>Details of this seasons holiday are shown below:</p>

        This seasons holiday will be held in either St.Christoph or St.Anton in Austria. The holiday date that has been arranged is Saturday 23rd March - 30th March 2013.<br>
        <br>
        
        Feel free to click on the links provided below to view or request a holiday brochure for the holiday destinations mentioned above:<br>
        <br>
        <p><a href="http://www.espritski.com/about/brochure/">St.Anton 1</a></p>
        <p><a href="http://www.markwarner.co.uk/brochure-request">St.Anton 2</a></p>
        <p><a href="http://www.elegantresorts.co.uk/members/e-brochures">St.Christoph 1</a></p>
        <p><a href="http://www.inghams.co.uk/my-inghams/brochure-requests/">St.Christoph 2</a></p>
      </div>

      <div class="container">
        <div class="hero-unit">
        <h3>Further Information</h3>

        For further details about this years club holiday or to book a place, please speak to Andy Kearney. He's usually at most of the club sessions on both Saturday and Sunday. He can be contacted on 07855662891.
      </div>
      <hr>
      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
        <%= yield %>
      </footer>

    </div>

    <script text/javascript src="../assets/jquery-1.8.2.min.js"></script>
<script text/javascript src="../assets/bootstrap.min.js"></script>
<script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
<script text/javascript src="assets/js/bootstrap.min.js"></script>
<script>
$(function(){
$('.dropdown-toggle').dropdown();
$('.dropdown input, .dropdown label').click(function (e) {
e.stopPropagation();
});
});
</script>

  </body>
</html>
